*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    color: white;
}
/* body{
    height: 2000px;
} */

/* header start */
header{
    width: 100%;
    height: 100vh;
    background: url("imgs/bg-masthead.jpg") rgba(0, 0, 0, 0.506);
    background-blend-mode: color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
 }
header .navbar{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
.navbar .logo{
    font-size: 25px;
    font-weight: 400;
    color: rgba(240, 248, 255, 0.644);
    transition: 0.3;
}
.navbar .logo:hover{
    color: white;
}
.navbar .links li {
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
    list-style:none;
    cursor: pointer;
    padding: 0 20px;
}
.navbar .links li a{ 
    color: rgba(240, 248, 255, 0.644);
    font-size: 17px;
    text-decoration: none;  
    transition: 0.3s;
}
.navbar .links li a:hover{
    color: white;
    height: 80px;
    line-height: 80px;
}
header .text {
    width: 80%;  
}
header .text h1{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}
header .text .border-about{
     border-bottom: 2px solid white;
    width: 40px;
    height: 1px;
    margin: 20px 0;
}
header .text p {
    color: white;
    /* width: 60%; */
    font-size: 25px;
    text-align: center;
    margin-bottom: 80px;
}
header .text .btn {
background-color: #f4623a;
padding: 25px 10px;
border-radius: 50px;
color: white;
border: 0;
transition: 0.3s;
cursor: pointer;
}
header .text .btn:hover{
    background-color: rgba(255, 68, 0, 0.848);
}
/* header end */
/* ********************** */
/* serv start */
#serv .container{
    width: 100%;
    height: 500px;
    background-color: #f4623a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#serv .container .border-serv{
    border-bottom: 2px solid white;
    width: 40px;
    height: 1px;
    margin: 20px 0;
}
#serv .container h1 {
    color: white;
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}
#serv .container p{
    color: white;
    /* width: 60%; */
    font-size: 20px;
    text-align: center;
    margin-bottom: 80px;

}
#serv .container .btn-serv{
    width: 200px;
    height: 80px;
    background-color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    color: black;
    border: none;
    cursor: pointer;
}
#serv .container .btn-serv:hover{
    background-color:rgba(240, 248, 255, 0.644) ;
}
/* serv end */
/* ************************* */
/* portfolio start */
#potofolio .container {
    width: 100%;
    height: 700px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(5/1fr);
    grid-template-rows: repeat(2/1fr);
    overflow: hidden;
}
.item{
    border-radius: 5px;
}
.item:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
    background:url(imgs/1.jpg);
}
.item:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    background:url(imgs/2.jpg);
}
.item:nth-child(3){
    grid-column: 3/4;
    background:url(imgs/3.jpg);
}
.item:nth-child(4){
    grid-column: 1/2;
    grid-row: 2/3;
    background:url(imgs/4.jpg);
}
.item:nth-child(5){
    grid-column: 2/3;
    grid-row: 2/3;
    background:url(imgs/5.jpg);

}
.item:nth-child(6){
    grid-column: 3/4;
    grid-row: 2/3;
    background:url(imgs/6.jpg);
}

/* portfolio end */
/* ************** */
/* footer start */
#footer .container {
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer .container .btn-footer{
    width: 200px;
    height: 50;
    background-color: white;
    text-align: center;
    padding: 20px 5px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
#footer .container .btn-footer:hover{
    background-color:rgba(240, 248, 255, 0.644) ;
}

/* footer end */
